<div class="row">
  <div class="span5 offset1">
    <% if @person.errors.any? %>
      <div class="alert alert-error">
        The form contains errors.
      </div>
    <% end %>
  </div>
</div>

</br>
<%= form_for @person, html: { class: 'form-horizontal' } do |f| %>
  <%= field_helper(f, @person, :first_name) do %>
    <% f.text_field :first_name %>
  <% end %>

  <%= field_helper(f, @person, :middle_name) do %>
    <% f.text_field :middle_name %>
  <% end %>

  <%= field_helper(f, @person, :last_name) do %>
    <% f.text_field :last_name %>
  <% end %>

  <%= field_helper(f, @person, :last_name) do %>
    <% f.date_select :birth_date %>
  <% end %>

  <%= field_helper(f, @person, :country_id) do %>
    <% f.number_field :country_id %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), people_path, class: 'btn' %>
  </div>

<% end %>
