<div class="row">
  <div class="span5 offset1">
    <% if @movie.errors.any? %>
      <div class="alert alert-error">
        The form contains errors.
      </div>
    <% end %>
  </div>
</div>

</br>
<%= form_for @movie, html: { class: 'form-horizontal' } do |f| %>
  <%= field_helper(f, @movie, :name) do %>
    <% f.text_field :name %>
  <% end %>

  <%= field_helper(f, @movie, :poster) do %>
    <% f.text_field :poster %>
  <% end %>

  <%= field_helper(f, @movie, :trailer) do %>
    <% f.text_field :trailer %>
  <% end %>

  <%= field_helper(f, @movie, :min_age) do %>
    <% f.number_field :min_age %>
  <% end %>

  <%= field_helper(f, @movie, :length) do %>
    <% f.number_field :length %>
  <% end %>

  <%= field_helper(f, @movie, :release_date) do %>
    <% f.number_field :release_date %>
  <% end %>

  <%= field_helper(f, @movie, :budget) do %>
    <% f.number_field :budget %>
  <% end %>

  <%= field_helper(f, @movie, :info) do %>
    <% f.text_area :info, class: 'input-xxlarge',
                                rows: 5,
                                placeholder: 'Movie description...' %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), movies_path, class: 'btn' %>
  </div>
<% end %>
