<div class="row">
  <div class="span5 offset1">
    <% if @movie.errors.any? %>
      <div class="alert alert-error">
        The form contains errors.
      </div>
    <% end %>
  </div>
</div>

</br>
<%= form_for @movie, html: { class: 'form-horizontal' } do |f| %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :name } do %>
    <% f.text_field :name %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :poster } do %>
    <% f.text_field :poster %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :trailer } do %>
    <% f.text_field :trailer %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :min_age } do %>
    <% f.number_field :min_age %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :length } do %>
    <% f.number_field :length %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :release_date } do %>
    <% f.number_field :release_date %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :budget } do %>
    <% f.number_field :budget %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :info } do %>
    <% f.text_area :info, class: 'input-xxlarge',
                                rows: 5,
                                placeholder: 'Movie description...' %>
  <% end %>

  <%= render layout: 'shared/field', locals: { f: f, resource: @movie, field_name: :country } do %>
    <% collection_select(:country, :id, @countries, :id, :name, include_blank: true) %>
  <% end %>

  <%= f.fields_for :creators do |builder| %>
    <%= render 'creator_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'add', f, :creators %>  

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), movies_path, class: 'btn' %>
  </div>
<% end %>
