= form_tag({ action: :search, controller: :movies }, method: :get) do
  .form-inline
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil, class: 'btn btn-primary'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Min age
      %th Length
      %th Year
      %th Budget
      %th Country
      - if can? :manage, @movies
        %th Actions
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to movie.name, movie_path(movie)
        %td= movie.min_age
        %td= movie.length
        %td= movie.release_date
        %td= movie.budget
        %td= movie.country.name if movie.country
        - if can? :manage, @movies
          %td
            = link_to 'Edit', edit_movie_path(movie), class:'btn btn-mini'
            = link_to 'Destroy',
                        movie_path(movie),
                        method: :delete,
                        data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                        class: 'btn btn-mini btn-danger'
