- title @movie.name
- model_class = Movie

.row
  .span4
    = image_tag @movie.poster, onError: "this.onerror=null;this.src='https://lh4.googleusercontent.com/-iHcpcxQcoJ4/UWZNGLcFV2I/AAAAAAAACNE/uNyPZ5j31iY/s330/noImageAvailable.JPG';"

    %div{style: "height: 20px;"}
    .btn-group
      = link_to 'Back to movies', movies_path, class: 'btn'
      - if can? :manage, Movie
        = link_to 'Edit', edit_movie_path(@movie), class: 'btn'
        = link_to 'Delete', @movie, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'

  .span8
    .row
      .span3
        %h2= yield :title
        %a.trailer{ href: @movie.trailer } Click here to watch the trailer
        %div{style: "height: 20px;"}
        = render 'ratings'
        %div{style: "height: 20px;"}
        %strong Min age:
        = show_field @movie.min_age
        %br
        %strong Length:
        = show_field @movie.length
        %br
        %strong Year:
        = show_field @movie.release_date
        %br
        %strong Budget:
        = show_field @movie.budget
        %br
        %strong Country:
        = if @movie.country then @movie.country.name else 'None' end
      
      %div{style: "height: 20px;"}
      .span5
        .well.well-small
          %strong Genres:
          %p= render 'genres_list', genres: @movie.genres
        .well.well-small
          %strong Directors:
          %p= render 'people_list', people: @movie.people_with_profession('director')
        .well.well-small
          %strong Writers:
          %p= render 'people_list', people: @movie.people_with_profession('screenwriter')
        .well.well-small
          %strong Producers:
          %p= render 'people_list', people: @movie.people_with_profession('producer')
      
    .row
      .span8
        .well.well-small
          %strong Actors:
          %p= render 'people_list', people: @movie.people_with_profession('actor')
        .well.well-small
          %strong Info:
          %p= show_field @movie.info

%div{style: "height: 20px;"}
.row
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{ href: "#reviews_tab", 'data-toggle' => 'tab' } Reviews
      %li 
        %a{ href: "#discussion_tab", 'data-toggle' => 'tab' } Discussion

    .tab-content
      #reviews_tab.tab-pane.active
        .media.span6
          %h3 Reviews
          .reviews
            - @reviews.each do |review|
              = render "reviews/review", review: review
          %div{ class: 'review-form' }
            - if user_signed_in?
              - if @reviews.any? { |r| r.user_id == current_user.id }
                .alert.alert-info
                  You already left a review.
              - else
                = render "reviews/form", reviewable: @reviewable, review: @review
            - else
              .alert.alert-info
                Sign in to leave a review.
      #discussion_tab.tab-pane
        .media.span6
          %h3 Comments
          .comments
            - @comments.each do |comment|
              = render "comments/comment", comment: comment
          - if user_signed_in?
            = render "comments/form"
          - else
            .alert.alert-info
              Sign in to leave a comment.